/* compiler.css */

body {
	background-color: #909193;
	background-image: url(images/background.png);
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

h1 { 
    color: white;
	font-size:   20pt;
	font-weight: normal;
	font-style: normal;	
}

h2 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:   16pt;
	font-weight: normal;
	font-style: normal;	
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.textAreas{
    clear: right;
    position: absolute;
    right:100px;
	top:100px;
    width: 70%;
}

.whiteText {
	color:white;
}

.button {
	width: 100px;
}

.buttons {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	position:absolute;
	left:700px;
	top:70px;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.mode {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	color:white;
}
.left {
    float: left;
    width: 50%;
    text-align: right;
}

.right {
    float: right;
    width: 50%;
    text-align: left;
}

.indent {
	display: inherit;
	text-indent: 100px;

}

.codeGen {
	position:absolute;
	left:600px;
	bottom:12px;
}